# Environment Configuration for ShadyURL

# ===== DATABASE =====
DATABASE_URL="postgresql://user:pass@127.0.0.1:5432/shadydb"

# ===== APPLICATION =====
NODE_ENV=production

# Domain configuration for URL shortener (comma-separated list)
DOMAINS=shadyurl.xyz

# ===== UI CONFIGURATION =====
NEXT_PUBLIC_AUTHOR_URL=https://domain.com
NEXT_PUBLIC_REPO_URL=https://github.com/r1shabhpahwa/shadyurl